In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta,date
import re

In [2]:
path = r"C:\Users\NT550-052\OneDrive\바탕 화면\ASAC\프로젝트\ML\web_crawling\merge_dataset\raw_merge.csv"

data = pd.read_csv(path,sep="\t")

data

,appid,24_Hour_Peak,All_time_peak,positive,negative,average_forever,average_2weeks,median_forever,median_2weeks,price,...,metacritic_tf,windows,mac,linux,platforms_num,recommendations,achievements,new_date,days_after_release,Review
0,294100,20930,60742,157344,3038,12492,1401,5368,921,34.99,...,1,1.0,1.0,1.0,3.0,134967.0,0.0,2018-10-17,1675,Overwhelmingly Positive
1,960090,13428,53891,246979,6441,4018,277,1532,62,13.99,...,0,1.0,1.0,0.0,2.0,222889.0,146.0,2018-12-18,1613,Overwhelmingly Positive
2,504230,1234,4148,71428,1686,1316,310,370,582,19.99,...,1,1.0,1.0,1.0,3.0,66397.0,32.0,2018-01-25,1940,Overwhelmingly Positive
3,588650,4553,14880,128085,3722,1841,183,868,213,14.99,...,1,1.0,1.0,1.0,3.0,113184.0,121.0,2018-08-06,1747,Overwhelmingly Positive
4,264710,4205,50876,221972,7800,1943,313,941,277,29.99,...,1,1.0,1.0,0.0,2.0,208334.0,17.0,2018-01-24,1941,Overwhelmingly Positive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46247,1995280,0,0,0,0,0,0,0,0,14.99,...,0,1.0,0.0,0.0,1.0,0.0,0.0,2022-12-02,168,Negative
46248,2098860,0,0,0,11,0,0,0,0,9.99,...,0,1.0,0.0,0.0,1.0,0.0,0.0,2022-08-09,283,Negative
46249,2154770,814,1176,0,0,0,0,0,0,0.00,...,0,0.0,0.0,0.0,0.0,0.0,0.0,2022-12-01,169,Very Negative
46250,1915410,0,1,0,16,0,0,0,0,2.99,...,0,1.0,0.0,0.0,1.0,0.0,0.0,2022-04-26,388,Negative
46251,1563130,4,97,117,987,0,0,0,0,29.99,...,0,1.0,0.0,0.0,1.0,897.0,35.0,2022-10-07,224,Overwhelmingly Negative

In [3]:
# 출시일 이후 며칠이나 지났는지 ,, days_after_release

today = "2023-05-19"
today = datetime.strptime(today,'%Y-%m-%d')
data['new_date'] = pd.to_datetime(data['new_date'])
data["days_after_release"] = data["new_date"].apply(lambda x: (today - x).days)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46252 entries, 0 to 46251
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   appid               46252 non-null  int64
 1   24_Hour_Peak        46252 non-null  int64
 2   All_time_peak       46252 non-null  int64
 3   positive            46252 non-null  int64
 4   negative            46252 non-null  int64
 5   average_forever     46252 non-null  int64
 6   average_2weeks      46252 non-null  int64
 7   median_forever      46252 non-null  int64
 8   median_2weeks       46252 non-null  int64
 9   price               46252 non-null  float64
 10  initialprice        46252 non-null  float64
 11  genre               46252 non-null  object
 12  num_lang            46252 non-null  int64
 13  required_age        46252 non-null  float64
 14  is_free             46252 non-null  int64
 15  controller_support  46252 non-null  int64
 16  dlc                 46252 non-null  float64
 17  metacritic          1247 non-null   float64
 18  metacritic_tf       46252 non-null  int64
 19  windows             46252 non-null  float64
 20  mac                 46252 non-null  float64
 21  linux               46252 non-null  float64
 22  platforms_num       46252 non-null  float64
 23  recommendations     46252 non-null  float64
 24  achievements        46252 non-null  float64
 25  new_date            46252 non-null  datetime64[ns]
 26  days_after_release  46252 non-null  int64
 27  Review              46252 non-null  object
dtypes: datetime64[ns](1), float64(11), int64(14), object(2)
memory usage: 9.9+ MB

In [5]:
data

,appid,24_Hour_Peak,All_time_peak,positive,negative,average_forever,average_2weeks,median_forever,median_2weeks,price,...,metacritic_tf,windows,mac,linux,platforms_num,recommendations,achievements,new_date,days_after_release,Review
0,294100,20930,60742,157344,3038,12492,1401,5368,921,34.99,...,1,1.0,1.0,1.0,3.0,134967.0,0.0,2018-10-17,1675,Overwhelmingly Positive
1,960090,13428,53891,246979,6441,4018,277,1532,62,13.99,...,0,1.0,1.0,0.0,2.0,222889.0,146.0,2018-12-18,1613,Overwhelmingly Positive
2,504230,1234,4148,71428,1686,1316,310,370,582,19.99,...,1,1.0,1.0,1.0,3.0,66397.0,32.0,2018-01-25,1940,Overwhelmingly Positive
3,588650,4553,14880,128085,3722,1841,183,868,213,14.99,...,1,1.0,1.0,1.0,3.0,113184.0,121.0,2018-08-06,1747,Overwhelmingly Positive
4,264710,4205,50876,221972,7800,1943,313,941,277,29.99,...,1,1.0,1.0,0.0,2.0,208334.0,17.0,2018-01-24,1941,Overwhelmingly Positive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46247,1995280,0,0,0,0,0,0,0,0,14.99,...,0,1.0,0.0,0.0,1.0,0.0,0.0,2022-12-02,168,Negative
46248,2098860,0,0,0,11,0,0,0,0,9.99,...,0,1.0,0.0,0.0,1.0,0.0,0.0,2022-08-09,283,Negative
46249,2154770,814,1176,0,0,0,0,0,0,0.00,...,0,0.0,0.0,0.0,0.0,0.0,0.0,2022-12-01,169,Very Negative
46250,1915410,0,1,0,16,0,0,0,0,2.99,...,0,1.0,0.0,0.0,1.0,0.0,0.0,2022-04-26,388,Negative
46251,1563130,4,97,117,987,0,0,0,0,29.99,...,0,1.0,0.0,0.0,1.0,897.0,35.0,2022-10-07,224,Overwhelmingly Negative

In [6]:
# is free 비교

for idx, elem in enumerate(data["is_free"]):
    if elem == 0.0:
        data["is_free"][idx] = 0
    else:
        if data["price"][idx] != 0:
            data["is_free"][idx] = 0
        else:
            data["is_free"][idx] = 1
sum(data["is_free"].isnull())

c:\Users\NT550-052\anaconda3\envs\mlp\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
c:\Users\NT550-052\anaconda3\envs\mlp\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

0

In [7]:
data["is_free"] = data["is_free"].astype("int")

In [8]:
# 24_Hour_Peak, All_time_peak 결측치 대체 
# 24_Hour_Peak -> 0
# All_time_peak -> average_forever 값

for i in range(len(data)):
    x = data["24_Hour_Peak"][i]
    y = data["All_time_peak"][i]
    
    if x == "Invalid":
        data["24_Hour_Peak"][i] = 0
    if y == "Invalid":
        data["All_time_peak"][i] = data["average_forever"][i]

In [9]:
# windows, mac, linux, platforms_num 결측치 -> 0
data.loc[:,["windows","mac","linux","platforms_num"]] = data.loc[:,["windows","mac","linux","platforms_num"]].fillna(0)

In [10]:
data.loc[:,["windows","mac","linux","platforms_num"]]

       windows  mac  linux  platforms_num
0          1.0  1.0    1.0            3.0
1          1.0  1.0    0.0            2.0
2          1.0  1.0    1.0            3.0
3          1.0  1.0    1.0            3.0
4          1.0  1.0    0.0            2.0
...        ...  ...    ...            ...
46247      1.0  0.0    0.0            1.0
46248      1.0  0.0    0.0            1.0
46249      0.0  0.0    0.0            0.0
46250      1.0  0.0    0.0            1.0
46251      1.0  0.0    0.0            1.0

[46252 rows x 4 columns]

In [11]:
# genre 결측치 -> "N"이라는 값으로 대체
data["genre"] = data["genre"].replace("None", "N")

In [12]:
# Review 결측치 -> "No user reviews"로 대체 
data["Review"] = data["Review"].fillna("No user reviews")

In [13]:
# 컬럼 순서 조정
data = data[['appid', '24_Hour_Peak', 'All_time_peak', 'positive', 'negative',
       'average_forever', 'average_2weeks', 'median_forever', 'median_2weeks',
       'price', 'initialprice', 'genre', 'num_lang', 'required_age', 'is_free',
       'controller_support', 'dlc', 'metacritic', 'metacritic_tf', 'windows',
       'mac', 'linux', 'platforms_num', 'recommendations', 'achievements',
       'new_date', 'days_after_release','Review']]

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46252 entries, 0 to 46251
Data columns (total 28 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   appid               46252 non-null  int64
 1   24_Hour_Peak        46252 non-null  int64
 2   All_time_peak       46252 non-null  int64
 3   positive            46252 non-null  int64
 4   negative            46252 non-null  int64
 5   average_forever     46252 non-null  int64
 6   average_2weeks      46252 non-null  int64
 7   median_forever      46252 non-null  int64
 8   median_2weeks       46252 non-null  int64
 9   price               46252 non-null  float64
 10  initialprice        46252 non-null  float64
 11  genre               46252 non-null  object
 12  num_lang            46252 non-null  int64
 13  required_age        46252 non-null  float64
 14  is_free             46252 non-null  int32
 15  controller_support  46252 non-null  int64
 16  dlc                 46252 non-null  float64
 17  metacritic          1247 non-null   float64
 18  metacritic_tf       46252 non-null  int64
 19  windows             46252 non-null  float64
 20  mac                 46252 non-null  float64
 21  linux               46252 non-null  float64
 22  platforms_num       46252 non-null  float64
 23  recommendations     46252 non-null  float64
 24  achievements        46252 non-null  float64
 25  new_date            46252 non-null  datetime64[ns]
 26  days_after_release  46252 non-null  int64
 27  Review              46252 non-null  object
dtypes: datetime64[ns](1), float64(11), int32(1), int64(13), object(2)
memory usage: 9.7+ MB

In [14]:
# data.to_csv(path, sep="\t",index=False)